# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config M080R_SENSOR
	bool "M080R sensor"
	default y
	depends on DT_HAS_ZEPHYR_M080R_SENSOR_ENABLED
	select GPIO
	help
	  Enable M080R sensor